html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.x {
  color: white;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 130px;
  background-color: rgb(230, 230, 230);
  grid-gap: 1px;
}
.ewrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 100px;
  background-color: rgb(230, 230, 230);
  grid-gap: 1px;
}

.box {
  padding: 0;
  margin-top: 0;
  padding: 5px;
}

.bar {
  background-color: black;
}

.wrapper2 {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 130px;
  background-color: rgb(167, 167, 167);
  grid-gap: 1px;
}
.ewrapper2 {
  display: grid;

  grid-template-columns: 1fr 1fr 2fr 2fr 100px;
  background-color: rgb(167, 167, 167);
  grid-gap: 1px;
}
body {
  font-size: 14px;
}

.box2 {
  background-color: rgb(0, 0, 0);
  color: rgb(236, 236, 236);

  padding: 5px;
}
.box3 {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 43, 43);

  padding: 5px;
}

#container {
  margin: 20px;
}

#orders {
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 130px;
  }
  .wrapper2 {
    grid-template-columns: 1fr 1fr 1fr 130px;
  }
}

.topping {
  padding-right: 5px;
}

#del {
  background: url(https://media.istockphoto.com/vectors/metal-texture-background-vector-illustration-vector-id911910816?b=1&k=6&m=911910816&s=612x612&w=0&h=G5PnZmCog2DDJEp_GrlRmenuJthGxQ_hXN98A9zpGME=);
}

#boxy {
  align-items: center;
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 5%;
  background-color: rgb(230, 230, 230);
}

.chipmunk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 130px;
  padding: 15px;
}

.chipmunk2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 130px;
  padding: 15px;
  background-color: rgb(230, 230, 230);
}

#boxx {
  padding: 10px;
  margin-top: 10px;
}

.ebox {
  display: grid;
  padding: 5%;
  grid-template-columns: 50%;
  grid-template-rows: 1fr 1fr 1fr 100px;
  grid-gap: 20px;
}

.content {
  justify-content: first baseline;
}

.b {
  margin-left: 5%;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 4fr 1fr 1fr;
  padding: 10px;
  background-color: black;
  color: white;
}

.navbar a {
  padding: 5px;
}

.navbar2 {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr 1fr;
  padding: 10px;
  background-color: black;
  color: white;
}

.navbar2 a {
  padding: 5px;
}

.login {
  margin: 30%;
  margin-top: 5%;
  padding: 0;
}

.code {
  font-family: "Courier New", Courier, monospace;
  color: blue;
}

.blue {
  background-color: blue;
}

#boxy {
  padding-top: 3px;
  padding-bottom: 10px;
  max-width: 600px;
}

#nue {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background-color: black;
  color: white;
}

#or {
  margin-bottom: 0;
  margin-top: 0;
}

#x {
  color: white;
  margin-left: auto;
}

.menus {
  padding-left: 20px;
  font-size: 16px;
}

.inventory {
  display: grid;
  grid-template-columns: 1fr;
  margin: 7%;
  margin-right: 10%;
  margin-top: 3%;
}

.desc {
  height: 200px;
  width: 100%;
  padding: 5px;
}

.in {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: Helvetica;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(136, 136, 136);
}

.bar2 {
  background-color: rgba(238, 236, 243, 0.938);
  padding-left: auto;

}

#inv {
  background-color: #00113f00; /* Green */
  border: none;
  color: rgb(37, 36, 36);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.i {
  padding: 5px 10px;
  margin-top: 10px;
}

.sc {
  margin-top: 10px;
  width: 100%;
  font-family: Helvetica;
  height: 100px;
  background-color: rgb(230, 230, 230);
}

#logged {
 
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
  font-size: 20px;



}

#success {
 
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;



}
